{% extends 'greyscale-singlepage.html' %}
{% load static %}

{% block include_asssets %}
<link href="{% static 'greyscale/css/greyscale.css' %}" rel="stylesheet">
<script src="{% static 'base/js/gs_custom.js' %}"></script>
{% endblock %}

{% block header_nav %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}">
      <img class="logo-icon" src="{% static 'greyscale/img/weasel.png' %}">
    </a>
    <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}">Car Weasel</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" id="login_portal_button">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" id="signup_button" href="{% url 'signup_choice' %}">Sign-Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block page_content %}
<div class="masthead">
  <div class="container-fluid pt-5 login-container">
    <div class="row w-100 p-5 justify-content-center">
      <div class="col-lg-8 col-md-12 col-sm-12 mb-5 login-h1">
        <div>
          <h1>
            Auto-Scaling Real-Time Synergy At Your Fingertips.
          </h1>
          <h1>
            Did someone say blockchain?! No..?
          </h1>
          <h1>
            Okay...
          </h1>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 form-container">
        <div class="login-form-container">
        <img class="logo-icon mt-5 mb-5" src="{% static 'greyscale/img/weasel.png' %}">
        <p>Login to easily find cars 2x fast. </p>
          <form class="form-group mt-5 text-white" method="post">
            {% csrf_token %}
            <form class="form-group text-white" method="post">
              <p><input type="text" name="username" placeholder="Username" autofocus="" required="" id="id_username"></p>
              <p><input type="password" name="password" placeholder="Password" required="" id="id_password"></p>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}