{% extends 'dashboard.html' %}
{% load static %}

{% block head_assets %}
<link href="{% static 'buyer_dashboard/styles.css' %}" rel="stylesheet">
<link href="{% static 'base/css/bootstrap.min.css' %}" rel="stylesheet">
<script src="{% static 'base/js/jquery3.4.1.js' %}"></script>
{% endblock %}

{% block top_nav %}
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-white">{% block company_title %}{{ user.get_username }}{% endblock %}</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="{% url 'logout' %}">Sign Out</a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block page_content %}
<div class="container-fluid">
  <div class="row">

    {% block side_nav %}
    <nav id="side-nav-dash" class="col-md-2 d-none d-md-block sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'welcome' %}">
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'currentPosts' %}">
              Current Posts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">
              Add Posts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Post History
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Current Matches
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Manage Account Details
            </a>
          </li>
        </ul>
      </div>
      <footer class="bg-black small text-center text-white-50">
        <div class="container">
          Copyright &copy; Zephyrous LLC 2019
        </div>
      </footer>
    </nav>
    {% endblock %}

    {% block main_content %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="text-white d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Create A New Post</h1>
        </div>

        <div class="container">
            <div class="row">
                <h2 class="text-white">Select Details</h2>
            </div>

            <div class="row justfiy-content-center">
                <div id="makebox" class="col-md-2 offset-md-2">
                  <select id="makeSelection" class=" custom-select"></select>
                </div>
                <div id="modelbox" class=" col-md-3">
                  <select id="modelSelection" class=" custom-select"></select>
                </div>
                <div id="yearbox" class=" col-md-2">
                  <select id="yearSelection" class=" custom-select"></select>
                </div>
                <button id="addVehicle-button" class="btn btn-md btn-secondary text-warning">Add Vehicle</button>
            </div>

            <div id="newPostTable" class="row mt-4">
              <table class="col-md-6 offset-md-2 table table-striped table-hover table-dark">
                <thead>
                  <th class="text-white">Make</th>
                  <th class="text-white">Model</th>
                  <th class="text-white">Year</th>
                </thead>
                <tbody id="newPostTableBody">

                </tbody>
              </table>
            </div>

            <div class="row">
              <button id="submitTableButton" class="col-md-4 offset-md-2 btn btn-block btn-dark text-success">Submit Table</button>
            </div>

        </div>
    </main> 
    {% endblock %}
  </div>
</div>
{% endblock %}

{% block final_assets %}

<!-- THIS IS HERE BECAUSE THE SISTER JS FILE FAILS TO LOAD, FIX THAT, THIS IS NOT A SOLUTION? -->
<script>

  // Vehicle data is added as an array to this array.
  let vehiclePostArray = [];


  // When the docucment is ready, grab all available makes to populate
  // selection options. Also, bind actions to changes in drop down selections
  // and submit button. 
  $(document).ready(function(){
    $.ajax({
        'url': 'http://127.0.0.1:8000/api/datasets/allMakes',
        success:function(data){
            buildMakeSelection(data['makes']);
        },
        error: function(){
            console.log("requset failed");
        },
    });

    $('#addVehicle-button').on('click', function(e){
      var make = $('#makeSelection option:selected').html();
      var model = $('#modelSelection option:selected').html();
      var year = $('#yearSelection option:selected').html();
      e.stopImmediatePropagation();
      addVehicle(year, make, model);
    });


    $('#makeSelection').on('change', function(){
      var makeSel = $('#makeSelection option:selected').html();
      $.ajax({
        'url': 'http://127.0.0.1:8000/api/datasets/getModels/' + makeSel,
        success:function(data){
            buildModelSelection(data['models']);
        },
        error: function(){
            console.log("requset failed");
        },
      });
    });


    $('#modelSelection').on('change', function(){
      var makeSel = $('#makeSelection option:selected').html();
      var modelSel = $('#modelSelection option:selected').html();
      $.ajax({
        'url': 'http://127.0.0.1:8000/api/datasets/getModelYears/' + makeSel + '/' + modelSel,
        success:function(data){
            buildYearSelection(data['years']);
        },
        error: function(){
            console.log("requset failed");
        },
      });
    });


    $('#submitTableButton').on('click', function(){
      // let res = vehicleArrayToJSON();
      // console.log(res);
      sendVehicles();
    });

  });


// ******* POPULATE SELECTION OPTIONS AS NECESSARY ******** //
  function buildMakeSelection(makeArray){
    let retStr = `<option>Select Make</option>`;
    for(var make in makeArray){
      retStr += `<option>${makeArray[make]}</option>`;
    }
    $('#makeSelection').html(retStr);
  }


  function buildModelSelection(makeArray){
    let retStr = `<option>Select Model</option>`;
    for(var make in makeArray){
      retStr += `<option>${makeArray[make]}</option>`;
    }
    $('#modelSelection').html(retStr);
  }


  function buildYearSelection(makeArray){
    let retStr = `<option>Select Year</option>`;
    for(var make in makeArray){
      retStr += `<option>${makeArray[make]}</option>`;
    }
    $('#yearSelection').html(retStr);
  }
  // ************************************************* //



  function addVehicle(year, make, model){
    let str = `<tr><td>${make}</td>`;
    str += `<td>${model}</td>`;
    str += `<td>${year}</td></tr>`;

    $('#newPostTable tbody').append(str);
    vehiclePostArray.push([make, model, year]);
  }



  function sendVehicles(){
    let obj = vehicleArrayToJSON();
    let token = getCookie('csrftoken');

    $.ajaxSetup({
      beforeSend: function(xhr){
        xhr.setRequestHeader('X-CSRFToken', token);
      }
    });

    $.ajax({
      'url': 'http://127.0.0.1:8000/buyer_portal/addPost',
      'type': 'POST',
      'dataType': 'json',
      'contentType': 'application/json; charset=utf-8',
      data: obj,
      success: function(data){
        console.log(data);
      },
      error: function(){
        console.log("Something went wrong POSTing");
      },
    });
  }


  // Converts the array of vehicles the buyer wants to add into
  // a JSON string.
  function vehicleArrayToJSON(){
    let vehObjs = [];
    let count = 0;

    for(var entry in vehiclePostArray){
      let obj = {
        "make": vehiclePostArray[entry][0],
        "model": vehiclePostArray[entry][1],
        "year": vehiclePostArray[entry][2],
      }
      vehObjs.push(obj);
      ++count;
    }

    let ret = {"vehicles": vehObjs,
            "count": count,};

    return JSON.stringify(ret);
  }



// https://docs.djangoproject.com/en/2.2/ref/csrf/
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
//var csrftoken = getCookie('csrftoken');

</script>
{% endblock %}