{% extends 'dashboard.html' %}
{% load static %}

{% block head_assets %}
<link href="{% static 'buyer_dashboard/styles.css' %}" rel="stylesheet">
<link href="{% static 'base/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block top_nav %}
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">{% block company_title %}{{ user.get_username }}{% endblock %}</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="{% url 'logout' %}">Sign Out</a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block page_content %}
<div class="container-fluid">
  <div class="row">

    {% block side_nav %}
    <nav id="side-nav-dash" class="col-md-2 d-none d-md-block sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Current Posts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'buyerAddPost' %}">
              Add Posts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Post History
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Current Matches
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Manage Account Details
            </a>
          </li>
        </ul>
      </div>
      <footer class="bg-black small text-center text-white-50">
        <div class="container">
          Copyright &copy; Zephyrous LLC 2019
        </div>
      </footer>
    </nav>
    {% endblock %}

    {% block main_content %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="text-white d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Buyer Dashboard</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
        </div>
      </div>


      <div class="album ">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">2015 BMW 3-series</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small>2 days</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">2017 Subaru BRZ</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small>5 days</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">2011-2015 Toyota Tacoma</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small>7 days</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">2009 Subaru Outback</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small>18 days</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">2016 Infiniti G35</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small>21 days</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">2014 Mercedes C-class</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small>28 days</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main> 
    {% endblock %}
  </div>
</div>
{% endblock %}