{% extends 'base.html' %}

{% block page_content %}
<div class="jumbotron ">
        <div class="container text-white">
            <h1>Finding the perfect car just got 100,000% easier!</h1>
            <p class="lead">I simply imagine that my skeleton is me and my body is my house. That way I’m always home.</p>
        </div>
    </div>
    <div class="container text-white">
        <div class="row">
            <div class="col-md-4 border-left border-top border-info rounded-circle">
                <h2>GIVE</h2>
                <p>I travel through time and I return to the future. I gather wisdom now lost. I visit again the eternally ancient caves, before a mighty Emperor thereupon came.</p>
                <p>
                    <a id="more-details-button" role="button" class="btn btn-info btn-md text-white">more details &raquo;</a>
                </p>
            </div>
            <div class="col-md-4 border-left border-top border-danger rounded-circle">
                <h2>ME</h2>
                <p>This is Ground Control to Major Tom. You've really made the grade. And the papers want to know whose shirts you wear. Now it's time to leave the capsule, if you dare.</p>
                <p>
                    <a id="more-details-button" role="button" class="btn btn-danger btn-md text-white">more details &raquo;</a>
                </p>
            </div>
            <div class="col-md-4 border-left border-top border-primary rounded-circle">
                <h2>MONEY</h2>
                <p>integer posuere sed justo vel dignissim. pellentesque elementum aliquam aliquet. nullam quis consectetur libero, et cursus nunc. donec iaculis enim a velit iaculis dictum. aliquam erat volutpat.</p>
                <p>
                    <a id="more-details-button" role="button" class="btn btn-primary btn-md text-white">more details &raquo;</a>
                </p>
            </div>
        </div>
        <hr/>
        <p>Disclaimer: What we do is completely legal</p>
    </div>
{% endblock %}