{% extends 'greyscale-singlepage.html' %}
{% load static %}

{% block include_asssets %}
<link href="{% static 'greyscale/css/greyscale.css' %}" rel="stylesheet">
<script src="{% static 'base/js/gs_custom.js' %}"></script>
{% endblock%}

{% block page_content %}
<div class="masthead">
  <div class="container pt-5">
    <div class="row pt-5">
      <div class="col text-center pt-5">
          <button id="buyer_login_button" class="btn text-white bg-info btn-md border border-dark mr-5">Buyer Login</button>
          <button id="seller_login_button" class="btn text-white bg-info btn-md border border-dark">Dealer Login</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}