{% extends 'greyscale-singlepage.html' %}
{% load static %}

{% block include_asssets %}
<link href="{% static 'base/css/styles.css' %}" rel="stylesheet">
<script src="{% static 'base/js/gs_custom.js' %}"></script>
{% endblock%}

{% block page_content %}
<div class="masthead">
  <div class="container">
    <div class="row">
      <div class="col text-center">
          <button id="buyer_login_button" class="btn bg-transparent btn-md border border-info mr-5">Buyer Login</button>
          <button id="seller_login_button" class="btn bg-transparent btn-md border border-info">Dealer Login</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}