{% extends 'greyscale-singlepage.html' %}
{% load static %}


{% block page_content %}
<div class="masthead">
  <div class="container pt-5">
    <div class="row pt-5 d-block">
        {% if user.is_authenticated %}
            <h3>{{ user.get_username }}</h3><br/>
            <h2>Welcome to the portal!</h2><br/>
            <h3>{{ usergroup }}</h3>
        {% else %}
        <p>Login to access the portal</p>
        <div class="row p-5 justify-content-center">
          <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
        </div>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}