<!DOCTYPE html>
<html>
<head>
<title>Car Dog</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style type="text/css">
    .navbar {
        margin-bottom:30px;
        color: #7692ee;
    }
    ul{
        list-style-type: none;
        margin-left: 0px;
    }
    body, .jumbotron{
        background-color: #20317e;
    }
</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="nav-item navbar-brand">Car Dog?</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a id="navlink-home" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a id="navlink-about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a id="navlink-contact" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a id="navlink-tryit" class="nav-link">Try It!</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a id="navlink-register" class="nav-link">Register ||</a>
                    </li>
                    <li class="nav-item">
                        <a id="navlink-buyerlogin" class="nav-link">Buyer Login ||</a>
                    </li>
                    <li class="nav-item">
                        <a id="navlink-sellerlogin" class="nav-link">Seller Login ||</a>
                    </li>
                </ul>
            </div>
        </nav>
    {% block page_content%}{% endblock %}
</body>
</html>