{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CarDog - Buying Made Simple</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'base/css/bootstrap.min.css' %}" rel="stylesheet">
  
  <!-- Custom styles for this template -->
  <link href="{% static 'base/css/styles.css' %}" rel="stylesheet">

  <styles>
    
  </styles>

  <!-- For assets made by me -->
    {% block include_assets %}{% endblock %}
</head>
<body class="bg-mountain">
    {% block page_content %}
    {% endblock %}
</body>