{% extends 'greyscale-singlepage.html' %}
{% load static %}

{% block include_asssets %}
<link href="{% static 'greyscale/css/greyscale.css' %}" rel="stylesheet">
<script src="{% static 'base/js/gs_custom.js' %}"></script>
{% endblock %}

{% block header_nav %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <img class="logo-icon" src="{% static 'greyscale/img/weasel.png' %}">
    </a>
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Car Weasel</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" id="login_portal_button" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" id="signup_button" href="{% url 'signup_choice' %}">Sign-Up</a>
        </li>
        <li class="nav-item">
          <a id="what_link" class="nav-link js-scroll-trigger">What</a>
        </li>
        <li class="nav-item">
          <a id="how_link" class="nav-link js-scroll-trigger">How</a>
        </li>
        <li class="nav-item">
          <a id="contact_link" class="nav-link js-scroll-trigger">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}