/* .navbar {
    margin-bottom:30px;
    color: #7692ee;
}
ul{
    list-style-type: none;
    margin-left: 0px;
}
body, .jumbotron{
    background-color: #20317e;
} */

.bg-mountain {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.3)), color-stop(75%, rgba(22, 22, 22, 0.7)), to(#161616)), url("../../greyscale/img/bg-signup.jpg");
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../../greyscale/img/bg-signup.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.logo-icon {
    width: 48px;
    height: 100%;
}

.login-container{
    display: flex;
    align-items: center;
    height: 100%;
}

.login-container h1{
    font-size:1.5rem;
    line-height: 2rem;
    letter-spacing: 1px;
}

.login-h1{
    text-align: center;
}

.login-h1,
.form-container{
    display: flex;
    align-items:center;
    justify-content: center;
}

.login-form-container{
    align-items: initial;
}

.login-form-container{
    height: 500px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(235,235,235,0.3);
}

.login-form-container input{
    background-color: rgba(255,255,255,0);
    border:0;
    outline: 0;
    border-bottom: 1px solid #fff;
    width: 100%;
    color: #fff;
}

.login-form-container .form-group{
    width:80%;
    margin: auto;
}

.login-form-container input::placeholder,
.login-form-container p{
    color: #fff;
}

.login-container p{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.login-form-container button{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 10px 20px;
}

.form-container .logo-icon{
    width: 125px;
    height: auto;
    background-color: #64a19d;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.form-container img{
    display: block;
    margin: auto;
}

.masthead{
    padding: 5rem 0;
}